.xp-button {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size: 11px;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
  box-shadow: none;
  border-radius: 3px;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
  margin: 0 5px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  line-height: 23px;

  &:not(.disabled):hover {
    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889,
      inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
  }
  &:not(.disabled):focus {
    outline: 1px dotted #000;
    outline-offset: -4px;
    box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea,
      inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
  }
  &:not(.disabled):active {
    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889,
      inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
    background: linear-gradient(
      180deg,
      #cdcac3,
      #e3e3db 8%,
      #e5e5de 94%,
      #f2f2f1
    );
  }
  &.disabled {
    background: #f5f4eb;
    border: 1px solid #ccccbd;
    color: #b4b3a8;
  }
}

.xp-input {
  width: 200px;
  height: 23px;
  border: 1px solid #7f9db9;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  font-size: 11px;
}
