.notepad {
  height: 100%;
  background: linear-gradient(to right, #edede5 0%, #ede8cd 100%);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .np__toolbar {
    position: relative;
    height: 21px;
    flex-shrink: 0;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
    padding: 0 5px;
  }
  .np__textbox {
    cursor: pointer;
    color: #333;
  }
  .np__textbox:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
  .np__first_letter {
    text-decoration: underline;
  }
}

.textarea {
  flex: auto;
  outline: none;
  font-family: "Lucida Console", monospace;
  font-size: 13px;
  line-height: 14px;
  resize: none;
  padding: 2px;
  overflow-y: auto;
  border: 1px solid #96abff;
}
