@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$color-clear: colors.bg(colors.$red) !default;
$color-phone: colors.bg(colors.$green) !default;

$background-beige: #E8E4C9;

.Telephone__displayBox {
  background-color: #002003;
  border: 0.167em inset $background-beige;
  color: #03e017;
  font-size: 2em;
  font-family: monospace;
  padding: 0.25em;
  white-space: nowrap;
  overflow: auto;
  overflow-y: none;
}

.Telephone__Button {
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
.Telephone__Button--keypad {
  background-color: $background-beige;
  border-color: $background-beige;
  &:hover {
    background-color: lighten($background-beige, 15%) !important;
    border-color: lighten($background-beige, 15%) !important;
  }
}

.Telephone__Button--Call {
  background-color: $color-phone !important;
  border-color: $color-phone !important;
  &:hover {
    background-color: lighten($color-phone, 15%) !important;
    border-color: lighten($color-phone, 15%) !important;
  }
}

.Telephone__Button--C {
  background-color: $color-clear !important;
  border-color: $color-clear !important;
  &:hover {
    background-color: lighten($color-clear, 15%) !important;
    border-color: lighten($color-clear, 15%) !important;
  }
}
